.main-footer {
  color: $color-default-white;
  background-color: $color-secondary-bg;
  margin: 0;
  padding: 15px 0;
}
.footer {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 350px 1fr;
  column-gap: 50px;
}
.footer__contacts {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 200px 1fr;
  row-gap: 15px;
  column-gap:15px;
}
.footer__links {
  border-left:2px solid $color-default-white;
  margin-left: auto;
  padding-left: 95px;
}
.footer__name {
  position: relative;
  color:$color-default-white;
  font-size: $fz-big;
  line-height: $lh-big;
  font-weight:700;
}
.footer__name::after {
  position:absolute;
  content: ".";
  color: $color-link;
}
.footer__title {
  margin: 0;
  padding: 0;
  margin-bottom: 2px;
  width: max-content;
  color: $color-link;
  font-size: $fz-h3;
  line-height: $lh-h3;
  font-weight: 700;
}
.footer__link {
  font-size: $fz-normal;
  line-height: $lh-normal;
  color: $color-default-white;
  font-weight: 400;

  &:hover {
    color: $color-link;
  }
  &:active {
    color: $color-link-active
  }
}
.footer__copyright {
  display: block;
  font-size: $fz-default;
  line-height: $lh-default;
}
.footer__item {
  font-size: $fz-normal;
  line-height: $lh-normal;
}
.footer__description {
  font-size: $fz-normal;
  line-height: $lh-normal;
}
