.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 28px;
}
.navigation__link {
  font-size: $fz-normal;
  line-height: $lh-normal;
  font-weight: 400;
  color: $color-default-white;

  &:hover {
    color: $color-link
  }
  &:active {
    color: $color-link-active
  }
}
.navigation__link--current {
  color: $color-default-white;
  font-weight: 700;
  border-bottom: 1px solid $color-default-white;
}
.navigation__item:nth-child(2) a{
  display: block;
  width: max-content;
}
