$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-description:                 rgba(35, 35, 64, 0.90);
$color-title:                       #232340;

$color-link:                        #5468E7;
$color-link-active:                 #2b3373;

$color-footer:                      #f5f5f5;

$color-button:                      #5468E7;

$color-default-bg:                  #fafafa;
$color-secondary-bg:                rgba(35,35,65,1);

$color-transparent:                 #000;

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-neon-blue:                   #2c39f2;
$color-torch-red:                   #ff1553;

// Gradient

$black-to-right:                    linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        10px;
$lh-default:                        16px;

$fz-normal:                         13px;
$lh-normal:                         21px;

$fz-h3:                             17px;
$lh-h3:                             21px;

$fz-middle:                         21px;
$lh-middle:                         27px;

$fz-big:                            34px;
$lh-big:                            42px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-rouble:                         "Rouble", "Arial", sans-serif;
$ff-sans:                    "Open Sans", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-375:                            375px;
$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1280:                           1280px;
$vp-1440:                           1440px;
$vp-1920:                           1920px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
